@import "~bootstrap/scss/bootstrap.scss";

#pole {
    background-color: black;
    width: 30px;
    height: 210px;
    margin: auto;
}
#lightBox {
    background-color: black;
    width: 168px;
    height: 534px;
    margin: auto;
    padding-top: 40px;
    border-radius: 30px
}
.light {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    &.red {background-color: red;}
    &.yellow {background-color:yellow;}
    &.green {background-color: green;}
    &.selected{box-shadow: #f8ffcc 0px 0px 150px 60px;}
}
